BeautifulSoup
Django==1.11.11
django_admin_bootstrapped
django-geoip
django-tastypie
django-uuidfield
dj_database_url
gunicorn==19.7.1
gpxpy
html
jsonfield
oauth2client
python-geoip
python-geoip-geolite2
psycopg2-binary
pykml
shortuuid
