BeautifulSoup
Django==1.11
django_admin_bootstrapped
django-geoip
django-uuidfield
dj_database_url
gdal
gunicorn
gpxpy
html
jsonfield
oauth2client
python-geoip
python-geoip-geolite2
psycopg2
psycopg2-binary
pykml
shortuuid
