#map {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#main_navigation {
  margin-bottom: 0;
}
.row {
  margin: 0;
  padding: 0;
}
.col-md-12 {
  margin: 0;
  padding: 0;
}

.grid_element {
  border: solid thin black;
  width: 200px;
  margin: 20px;
}

#search_text {
  width: 300px;
  height: 50px;
  margin : 0 auto;
  display: block;
}

#possible_items {
  display: block;
  margin : 0 auto;
  width: 70%;
}

.packing-list-item {
  margin: 10px;
  padding: 0;
}

.packing-list-item-text {
  margin: 0;
  padding-top:5px;
  padding-bottom:10px;
  background-color: rgba(0,0,0,0.4);
}

.packing-list-item-text a {
  display: inline;
}

.packing-list-item-text h3{
  display: inline;
  margin: 0;
}

.delete-item {
  float: right;
  padding-top: 10px;
  padding-right:15px;
}
