#map {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#main_navigation {
  margin-bottom: 0;
}
.row {
  margin: 0;
  padding: 0;
}
.col-md-12 {
  margin: 0;
  padding: 0;
}