
.plan_btn {
  width: 80px;
}

#route_details_card {
  width: 300px;
  max-height: 100%;
}

#route_details_card > .card-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#route_details_card > .card-body > .card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 100px;
}

#route_details_card  a {
  color: white;
}

#route_details_card > .card-img-top {
  max-height: 250px;
}
