{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_js %}
  <link rel="stylesheet" href="/static/css/plan_list.css">
{% endblock %}

{% block content %}
<div id="plans" class="container">
  {% for plan in plans %}
  <label class='col-md-3 btn btn-secondary'>
    <a href="{% url 'edit-trip-plan' pub_id=plan.pub_id %}">
      <div class="plan">
        <div class="plan-name">{{ plan.name }}</div> -
        <div class="plan-route-name">
          {% if plan.route %}
              {{ plan.route.name}}
          {% endif %}
        </div>
      </div>
    </a>
  </label>
  {% endfor %}
</div>
{% endblock %}
