
#plans {
  margin-top:10px;
}

.plan {
  width: 100%;
  display: inline;

  color: white;
  float: left;
  text-align: left;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.plan-name {
  white-space: nowrap;
  display: inline;

}

.plan-route-name {
  display: inline;
  color: white;
  font-size: smaller;
  margin-left: 5px;
  margin-top: 2px;

}