{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_js %}
    <script src="/static/create_plan.js"></script>
    <script src="/static/map.js"></script>
    <script src="/static/map_markers.js"></script>
    <script src="/static/map_lines.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=drawing"></script>
	<script type="text/javascript" src="/static/jquery.ui.map.full.min.js"></script>

	<link href="/static/map.css">
	
{% endblock %}

{% block content %}
	<div class="row">
		{% for route in routes %}
			{% include "route/_list_route_grid.html" with route=route %}
		{% endfor %}
	</div>
{% endblock %}