#plan {
  padding-top: 10px;
}

#plan-top {
  border-radius: 15px 15px 0 0;
  border: solid thin darkgray;
    border-bottom: none;
}

#trip-title {
  font-size:30px;
}

#trip-subtitle {
  font-size:12px;
  color: gray;
}

#trip-attendees {
  margin-top:5px;
}
#trip-attendees .attendee {
  float:right;
}
#trip_datepicker {
  margin-top:10px
}

#route-map-parent {
  padding: 0px;
}

#route-map {
  width: 100%;
  height: 350px;
}

#description-weather-and-map {
  border: solid thin darkgray;
}
#description-and-weather{
  padding: 0;
}


#weather{
  display: flex;
  border-bottom: solid thin darkgray;
}

.weather-day {
  flex: 1;
  padding: 0;
  text-align: center;
  position: relative;
}

.weather-day i {
  margin: 10px;
  font-size: 25px;
}

.weather-day-date {
  font-size: 12px;
}
.weather-day-temperature {
  font-size:  10px;
  width: 100%;
  background-color: lightgray;
}

.weather-day-precipitation {
  font-size:  12px;
  width: 100%;
}

.weather-day-precipitation.rain {
  background-color: lightblue;
}

#trip-description {
}

#packing-lists {
  border: solid thin darkgray;
  border-top: none;
  border-radius: 0 0 15px 15px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}