{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_js %}
	<script src="/static/js/packing_list.es6" type="text/javascript"></script>
	<link rel="stylesheet" href="/static/css/carousel.css" />
{% endblock %}

{% block content %}

<div id="packing-list" class="row" data-name="{{ packing_list.name }}" data-id="{{ packing_list.id }}" style="padding:8px;">
	<div class="col-md-12">
        <input id="search_text" type="text" data-search-uri="{% url 'search-items' %}" data-other="{% url 'add-packing-list-item' packing_list.id %}" data-csrf="{{ csrf_token }}"/>
	</div>
</div>

<div class="row" id="search-items"></div>

<div class="row">
	<div class="col-md-12 text-center">
		<h3>
			<a id="packing-list-name" class="editable editable-click">{{ packing_list.name }}</a>
		</h3>
	</div>
</div>

<div class="row">
	<div id="items">
		{% for item in packing_list.items %}
			{% include 'packing/_packing_list_item.html' with packing_list_item=item %}
		{% endfor %}
	</div>
</div>

{% endblock %}
