<div class="row">
  <link rel="stylesheet" href="/static/css/weather-icons.css" />
  <link rel="stylesheet" href="/static/css/weather-icons-wind.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" type="text/javascript"></script>

  <input type="text" id="trip_datepicker" value="{{ plan.daterange }}" />
  <div style="display: None;" id="start_dt">{{ plan.start_datetime }}</div>
  <div style="display: None;" id="end_dt">{{ plan.end_datetime }}</div>
  <canvas id="temperatureChart"></canvas>
  <canvas id="precipitationChart"></canvas>
  <canvas id="humidityChart"></canvas>
</div>
