{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_js %}
  <link rel="stylesheet" href="/static/css/trips.css">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div id="title-box">
        <div id="trip-title">
          <h2>{{ plan.name }}</h2>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default">
            <img class="trip-plan-icon" src="/static/img/icons/icons8-world-map-512.png">
            <br/>
            Route
          </button>
          <button type="button" class="btn btn-default">
            <img class="trip-plan-icon" src="/static/img/icons/icons8-backpack-512.png">
            <br/>
            Packing
          </button>
          <button type="button" class="btn btn-default">
            <img class="trip-plan-icon" src="/static/img/icons/icons8-realtime-512.png">
            <br/>
            Time
          </button>
          <button type="button" class="btn btn-default">
            <img class="trip-plan-icon" src="/static/img/icons/icons8-male-user-512.png">
            <br/>
            Partner(s)
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="route">
        <div id="map"></div>
        <script>
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {});
            var northEast = new google.maps.LatLng({{ route_boundaries.S }},{{ route_boundaries.w }});
            var southWest = new google.maps.LatLng({{ route_boundaries.N }},{{ route_boundaries.E }});
            var bounds = new google.maps.LatLngBounds(southWest,northEast);
            map.fitBounds(bounds);
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>
      </div>
      <div id="packing"></div>
      <div id="time"></div>
      <div id="partners"></div>
    </div>
  </div>
{% endblock %}
