<html>
  <head>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
   <script src="static/geohash.js"></script>
   <script src="static/routes.js"></script>
   <script src="static/routes_cache.js"></script>
  </head>
  <body>
    <div id="map" style="width:100%; height:100%;"></div>
    <script>
      var map;
      var routes_cache = new RoutesCache();
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 48.4284, lng: -123.3656},
          zoom: 12
        });
      	google.maps.event.addListener(map, "bounds_changed", routes_cache.update_bounds);
      	google.maps.event.addListener(map, "zoom_changed", routes_cache.update_zoom);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAntpb0h6GbbKCowtWxK6kes6RCxEQv7o0&callback=initMap" async defer></script>
  </body>
</html>
